<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container" [class.hide-burger]="!us.role('admin')">
		<div class="documents-list">
			<div *ngIf="us.role('admin')">
				<div
					class="burger-wrap"
					class="burger-wrap"
					(click)="isMenuOpen=!isMenuOpen"
					[class.burger-wrap--open]="isMenuOpen"
				>
					<div
						class="burger"
						[class.burger--close]="isMenuOpen"
					></div>
				</div>
				<div
					class="documents-sidebar"
					[class.documents-sidebar--open]="isMenuOpen"
				>
					<div class="documents-sidebar-content">
						<div class="documents-sidebar__img">
							<img src="assets/default.png" alt="" />
						</div>
						<div class="documents-sidebar__title">
							{{petdoctor.name}}
						</div>
						<div>
							<wbutton (click)="update(petdoctor)"
								><span translate>Button.Edit</span></wbutton
							>
							<wbutton (click)="delete(petdoctor)"
								><span translate>Button.Delete</span></wbutton
							>
						</div>
					</div>
				</div>
			</div>
			<div class="documents-main" [class.hide-burger]="!us.role('admin')">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<div class="documents__title">{{petdoctor.name}}</div>
						<div class="documents__specialization">
							<span translate>Doctor.Specialization: </span
							>{{petdoctor.specialization}}
						</div>
						<div class="documents__phone">
							<span translate>Doctor.Phone: </span
							>{{petdoctor.phone}}
						</div>
						<div class="documents__email">
							<span translate>Doctor.Email: </span
							>{{petdoctor.email}}
						</div>
						<div class="documents__workingHours">
							<span translate>Doctor.Working hours: </span
							>{{petdoctor.workingHours}}
						</div>
						<div class="documents__description">
							<span translate>Doctor.Description: </span
							>{{petdoctor.description}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
