<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div
				class="burger-wrap"
				(click)="isMenuOpen=!isMenuOpen"
				[class.burger-wrap--open]="isMenuOpen"
			>
				<div class="burger" [class.burger--close]="isMenuOpen"></div>
			</div>
			<div
				class="documents-sidebar"
				[class.documents-sidebar--open]="isMenuOpen"
			>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__title">
						<span translate>Pet.My Pets</span>
					</div>
					<div class="documents-sidebar-button">
						<wbutton (click)="create()"
							><span translate>Button.Create</span></wbutton
						>
					</div>
					<div>
						<wselect
							[placeholder]="getTranslatedText('Pet.Species')"
							[items]="speciesList"
							[clearable]="true"
							(modelChange)="species=$event; load()"
							[searchable]="true"
						></wselect>
						<wselect
							[placeholder]="getTranslatedText('Pet.Breed')"
							[items]="breedList"
							[clearable]="true"
							(modelChange)="breed=$event; load()"
							[searchable]="true"
						></wselect>
						<wselect
							[placeholder]="getTranslatedText('Pet.Gender')"
							[items]="genderList"
							[clearable]="true"
							(modelChange)="gender=$event; load()"
						></wselect>
						<wselect
							[placeholderSearch]="getTranslatedText('Common.Search')"
							[placeholder]="getTranslatedText('Pet.Adoptable')"
							[items]="adoptableList"
							[clearable]="true"
							(modelChange)="adoptable=$event; load()"
						></wselect>
					</div>
					<div>
						<winput
							[placeholder]="getTranslatedText('Common.Enter text...')"
							[type]="'search'"
							(wChange)="setSearch($event)"
							(wSubmit)="load()"
							[clearable]="true"
						></winput>
					</div>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div *ngFor="let pet of mypets" class="documents-main-row">
						<app-pet [pet]="pet"></app-pet>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
