<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div
				class="burger-wrap"
				class="burger-wrap"
				(click)="isMenuOpen=!isMenuOpen"
				[class.burger-wrap--open]="isMenuOpen"
			>
				<div class="burger" [class.burger--close]="isMenuOpen"></div>
			</div>
			<div
				class="documents-sidebar"
				[class.documents-sidebar--open]="isMenuOpen"
			>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__img">
						<img src="assets/default.png" alt="" />
					</div>
					<div class="documents-sidebar__title">
						{{petrecord.name}}
					</div>
					<div>
						<wbutton (click)="update(petrecord)"
							><span translate>Button.Edit</span></wbutton
						>
						<wbutton (click)="delete(petrecord)"
							><span translate>Button.Delete</span></wbutton
						>
					</div>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<div class="documents__title">{{petrecord.name}}</div>
						<div class="documents__date">
							<span translate>Record.Data: </span
							>{{petrecord._id|mongodate|date:'d MMMM y H:mm'}}
						</div>
						<div class="documents__disease">
							<span translate>Record.Disease: </span
							>{{petrecord.disease}}
						</div>
						<div class="documents__treatment">
							<span translate>Record.Treatment: </span
							>{{petrecord.treatment}}
						</div>
						<div class="documents__procedure">
							<span translate>Record.Procedure: </span
							>{{petrecord.procedure}}
						</div>
						<div class="documents__notes">
							<span translate>Record.Notes: </span
							>{{petrecord.notes}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
