<div class="documents-card">
	<a routerLink="/petprofile/{{pet._id}}">
		<img
			class="documents__img"
			[src]="apiUrl + pet.thumb"
			alt="Pet photo"
		/>
	</a>
	<a routerLink="/petprofile/{{pet._id}}" class="documents-card-description">
		<div>
			<div class="documents__title">{{pet.name}}</div>
			<div class="documents__description">{{pet.description}}</div>
		</div>
	</a>
	<div class="documents-card-buttons">
		<a routerLink="/pethistory/{{pet._id}}" class="nav__burger-link">
			<span class="material-icons">article</span>
		</a>
		<span (click)="update(pet)" class="material-icons">edit</span>
		<span (click)="delete(pet)" class="material-icons delete-button"
			>delete</span
		>
	</div>
</div>
