<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div
				class="burger-wrap"
				class="burger-wrap"
				(click)="isMenuOpen=!isMenuOpen"
				[class.burger-wrap--open]="isMenuOpen"
			>
				<div class="burger" [class.burger--close]="isMenuOpen"></div>
			</div>
			<div
				class="documents-sidebar"
				[class.documents-sidebar--open]="isMenuOpen"
			>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__title">
						<span translate>Doctor.Pet Doctors</span>
					</div>
					<div *ngIf="us.role('admin')">
						<wbutton (click)="create()"
							><span translate>Button.Create</span></wbutton
						>
					</div>
					<div>
						<petclinic-selector
							[placeholder]="getTranslatedText('Clinic.Select petclinic')"
							[value]="clinic_id"
							(wChange)="clinic_id = $event; load()"
						></petclinic-selector>
						<winput
							[placeholder]="getTranslatedText('Common.Enter text...')"
							[type]="'search'"
							[clearable]="true"
							(wChange)="setSearch($event)"
							(wSubmit)="load()"
						></winput>
					</div>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div
						*ngFor="let doctor of doctors"
						class="documents-main-row"
					>
						<app-doctor
							[doctor]="doctor"
							(load)="load()"
						></app-doctor>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
